{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>중고거래 매물 검색</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'search.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <div class="search">
            <div>
                <input
                    placeholder="물품명 또는 지역명을 검색해보세요"
                    value="{{ kw|default_if_none:'' }}"
                    id="kw_input"/>
                <i class="fa-solid fa-magnifying-glass" id="kw_search"></i>
            </div>
        </div>
        <div>
            <div class="option">
                <!-- <span>기본 | 낮은금액순 | 높은금액순</span> -->
                <button class="filter_btn" onclick="sortItems('basic')">기본순</button>
                <hr class="filter_bar">
                <button class="filter_btn" onclick="sortItems('low')">낮은금액순</button>
                <hr class="filter_bar">
                <button class="filter_btn" onclick="sortItems('high')">높은금액순</button>
            </div>
            <div class="contents_wrapper">

        {#        {% if 당근 %}#}
                <div class="contents">
        {#                당근#}
                    <div class="logo_wrapper">
                        <div class="img_wrapper">
                            <img class="logo" src="{% static 'images/danggeun_logo.png' %}" alt="Danggeun Market Logo">
                        </div>
                        {% if mode == 'search' %}
                        <button class="more_items" onclick="openWindow('https://www.daangn.com/search/')">더보기
                            <i class="fa-solid fa-arrow-right" style="margin: 0 0 0 5px"></i>
                        </button>
                        {% endif %}
                    </div>
                    {% if mode == 'search' %}
                    <div class="container">
                        <div class="item_wrapper" id="danggeun">
                            <!-- item 리스트 영역 :: js로 채움 -->
                        </div>
                    </div>
                    {% endif %}
                </div>
        {#        {% endif %}#}
        {#        {% if 번장 %}#}
                <div class="contents">
        {#                번장#}
                    <div class="logo_wrapper">
                        <div class="img_wrapper">
                            <img class="logo" src="{% static 'images/bunjang_logo.png' %}" alt="Bunjang Logo">
                        </div>
                        {% if mode == 'search' %}
                        <button class="more_items" onclick="openWindow('https://m.bunjang.co.kr/search/products?order=score&page=1&q=')">더보기
                            <i class="fa-solid fa-arrow-right" style="margin: 0 0 0 5px"></i>
                        </button>
                        {% endif %}
                    </div>
                    {% if mode == 'search' %}
                    <div class="container">
                        <div class="item_wrapper" id="bunjang">
                            <!-- item 리스트 영역 :: js로 채움 -->
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="contents">
        {#                중고나라#}
                    <div class="logo_wrapper">
                        <div class="img_wrapper">
                            <img class="logo" src="{% static 'images/joongna_logo.png' %}" alt="Joonggo Nara Logo">
                        </div>
                        {% if mode == 'search' %}
                        <button class="more_items" onclick="openWindow('https://web.joongna.com/search/')">더보기
                            <i class="fa-solid fa-arrow-right" style="margin: 0 0 0 5px"></i>
                        </button>
                        {% endif %}
                    </div>
                    {% if mode == 'search' %}
                    <div class="container">
                        <div class="item_wrapper" id="joongna">
                            <!-- item 리스트 영역 :: js로 채움 -->
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            </div>

    </div>
    <div>
        <button class="kakao_share" onclick="shareKakao()">
            <img width="30" height="30" src="https://img.icons8.com/color/48/000000/kakaotalk.png" alt="kakaotalk"
            style="margin: 0 5px 0 0;">
            나에게 공유하기
        </button>
        <button class="excel_save" onclick="saveExcel()">
            <img width="30" height="30" src="https://img.icons8.com/fluency/30/microsoft-excel-2019.png" alt="microsoft-excel-2019"
            style="margin: 0 5px 0 0;">
            저장하기
        </button>
    </div>
    <form id="searchForm" method="get" action="{% url 'search' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}"/>
    </form>

    {% block script %}
    <script type="text/javascript">
        let bunjang;
        let danggeun;
        let joongna;
        let originBunjang;
        let originDanggeun;
        let originJoongna;
        
        // items 를 html로 렌더링
        function renderItems(items, flatform){
            console.log('페이지로드 - 렌더링')
            console.log(items)
            const itemWrapper = document.getElementById(flatform)
            itemWrapper.innerHTML = ''
            items.forEach(i => {
                const itemDiv = document.createElement('div')
                itemDiv.classList.add('item')
                itemDiv.innerHTML = `
                        <div class="item_img_wrapper">
                            <img src="${i.img_url}" alt="${i.title}"/>
                        </div>
                        <div class="detail">
                            <div class="title">${i.title}</div>
                            <div class="price">${i.price}</div>
                            <div class="address">${i.location}</div>
                        </div>
                            `
                // 클릭이벤트
                itemDiv.addEventListener('click', () => {
                    window.open(i.url, '_blank');
                });
                
                itemWrapper.appendChild(itemDiv)
            });
        }
        
        // 검색어 입력 이벤트 처리
        function doSearch(){
            console.log('검색어 입력됨 !!')
            console.log('kw값 >> '+$("#kw_input").val());
            $("#kw").val($("#kw_input").val());
            $("#searchForm").submit();
        }
        $("#kw_search").on('click', doSearch)
        $('#kw_input').on('keypress', function(event) { // 입력칸의 엔터키 이벤트
            if(event.which === 13) {
                doSearch();
            }
        })

        // item 필터링 (정렬)
        function sortItems(type){       // basic: 기본, low: 낮은 금액순, high: 높은 금액순
            let bunRslt;
            let dangRslt;
            let joongRslt;
            
            if(type === 'basic') {  // 기본 정렬
                bunRslt = [...originBunjang]
                dangRslt = [...originDanggeun]
                joongRslt = [...originJoongna]
            } else {
                bunRslt = [...bunjang]
                dangRslt = [...danggeun]
                joongRslt = [...joongna]
                if(type === 'low'){             // 낮음 금액순(오름차순)
                    bunRslt.sort((a, b) => parseInt(a.price.replace(',', '').replace('원', '')) - parseInt(b.price.replace(',', '').replace('원', '')));
                    dangRslt.sort((a, b) => parseInt(a.price.replace(',', '').replace('원', '')) - parseInt(b.price.replace(',', '').replace('원', '')));
                    joongRslt.sort((a, b) => parseInt(a.price.replace(',', '').replace('원', '')) - parseInt(b.price.replace(',', '').replace('원', '')));
                } else if(type === 'high'){     // 높은 금액순(내림차순)
                    bunRslt.sort((a, b) => parseInt(b.price.replace(',', '').replace('원', '')) - parseInt(a.price.replace(',', '').replace('원', '')));
                    dangRslt.sort((a, b) => parseInt(b.price.replace(',', '').replace('원', '')) - parseInt(a.price.replace(',', '').replace('원', '')));
                    joongRslt.sort((a, b) => parseInt(b.price.replace(',', '').replace('원', '')) - parseInt(a.price.replace(',', '').replace('원', '')));
                }
            }
            renderItems(bunRslt, 'bunjang')
            renderItems(dangRslt, 'danggeun')
            renderItems(joongRslt, 'joongna')
        }
        
        // 더보기 버튼 처리
        function openWindow(url) {
            window.open(url+'{{ keyword|escapejs }}', '_blank');
        }


        // 나에게 공유하기
        function shareKakao(){
            console.log('나에게 공유하기 !')
            window.open('https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=b6f734ae84ffdf355f8f4abb96aa88f0&redirect_uri=http://127.0.0.1:8000/oauth', '_blank')
            // fetch('/kakaoMSG/', { method: 'POST'})
            //     .then(res => {
            //         console.log(res)
            //         console.log('성공')
            //     })
            //     .catch(e => {
            //         console.log(e)
            //         console.log('실패')
            //     })
        }

        function saveExcel(){
            console.log('엑셀로 저장하기')
            fetch('/excelSave/', { method: 'POST'})
                .then(res => {
                    console.log('성공')
                    alert('엑셀 파일로 저장되었습니다.')
                })
                .catch(e => {
                    console.log(e)
                    console.log('실패')
                })
        }

        // search 일때만 검색 수행 및 아이템 출력
        // base 일때는 homepage 메인처럼 보이게
        if('{{ mode|escapejs }}' == 'search'){
            // 서버에서 전달된 items 를 변수에 담기
            const items = JSON.parse('{{ items|escapejs }}')
            bunjang = JSON.parse('{{ bunjang|escapejs }}')
            // @TODO parse 내용 바꾸기
            // danggeun = JSON.parse('{{ bunjang|escapejs }}')
            // joongna = JSON.parse('{{ bunjang|escapejs }}')
            danggeun = JSON.parse('{{ danggeun|escapejs }}')
            joongna = JSON.parse('{{ joongna|escapejs }}')

            
            // 정렬 시 '기본' 정렬에 필요한 기존 데이터 따로 변수에 저장
            originBunjang = JSON.parse('{{ bunjang|escapejs }}')
            originDanggeun = JSON.parse('{{ danggeun|escapejs }}')
            originJoongna = JSON.parse('{{ joongna|escapejs }}')

            // 페이지 로드시 아이템 리스트 렌더링
            renderItems(bunjang, 'bunjang')
            renderItems(danggeun, 'danggeun')
            renderItems(joongna, 'joongna')
            $("#kw_input").val('{{ keyword|escapejs }}');
        }

    </script>
    {% endblock %}
</body>
</html>
